<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travelblog">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- below is used to declare color theme of the app -->
    <application
        android:theme="@style/AppTheme"
        android:label="Travel Blog">
        <!-- declare activities used in app -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".BlogDetailsActivity" />
    </application>
</manifest>